/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-principal: teal;
    --color-texto: #222;
    --color-fondo: #f1f1f1;
    --fuente-principal: Arial, sans-serif;
 
}

/* Estilos de body*/
body {
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    background-color: var(--color-fondo)
}

/* =========================
   MAIN Y SECCIONES
========================= */

main {
    padding: 25px;
}


section{
    background: white;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* =========================
   TITULOS
========================= */

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    color: teal;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* =========================
   PARRAFOS
========================= */

p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

/* =========================
   ARTICLES
========================= */

article {
    margin-bottom: 2rem;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


/*ID CIERRE*/

#cierre{
    background-color: var(--color-principal);
    color: white;
    text-align: center;
    border-radius: 20px;
    
}

#cierre h3{
    font-size: 35px;
}

#cierre p{
    font-size: 1.0rem;
    line-height: 1.5rem;
}

#cierre a{
    color:#7ed6df;
    text-decoration: none;
    font-weight: bold;
}

/*Botones*/
.boton{
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-principal);
    text-decoration: none;
    color: var(--color-fondo);
    border-radius: 5px;

}

.boton:hover{
    background-color: #7ed6df;
}

article{
    background: white;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 20px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

article:hover{
            transform: scale(1.02);
        }